<div class="container">
  <div class="blog-footer">

      <footer role="contentinfo">
      <div class="row footer-padding">

      <div class="col-md-4">
          {% if page.footer_first %}
        {{ page.footer_first }}
    {% endif %}
      </div>
      <div class="col-md-4">
        {{ page.footer_second }}
      </div>
      <div class="col-md-4">
        {{ page.footer_third }} 
      </div>
        
        </div>
      </footer>
    
  </div>
</div>
